<!DOCTYPE html>
<html>
  <head>
    <title>HouseBudgetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <main class="nav-container">
      <div class="atert-msg">
        <p><%= notice %></p>
        <p><%= alert %></p>
      </div>
      <% if user_signed_in? %>
          <%= button_to "Log out", '/users/sign_out', method: :delete, data: { turbo: false }, class: "logout-btn" %>
      <% end %>
    </main>
    <%= yield %>
</body>

</html>
